TSM/Connected Services/FrwkAuthSrv/Auth11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Auth" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://frwk.techno-screen.com/Auth.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://frwk.techno-screen.com/Auth.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://frwk.techno-screen.com/Auth.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuth_Action_InputMessage">
    <wsdl:part name="parameters" element="tns:Action" />
  </wsdl:message>
  <wsdl:message name="IAuth_Action_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuth_getUserLDAP_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserLDAP" />
  </wsdl:message>
  <wsdl:message name="IAuth_getUserLDAP_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserLDAPResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuth">
    <wsdl:operation name="Action">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/Action" message="tns:IAuth_Action_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/ActionResponse" message="tns:IAuth_Action_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserLDAP">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuth/getUserLDAP" message="tns:IAuth_getUserLDAP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuth/getUserLDAPResponse" message="tns:IAuth_getUserLDAP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuth" type="tns:IAuth">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Action">
      <soap:operation soapAction="http://tempuri.org/IAuth/Action" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserLDAP">
      <soap:operation soapAction="http://tempuri.org/IAuth/getUserLDAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Auth">
    <wsdl:port name="BasicHttpBinding_IAuth" binding="tns:BasicHttpBinding_IAuth">
      <soap:address location="http://frwk.techno-screen.com/Auth.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>